

Django==4.0.4
django-debug-toolbar==3.4.0
django-cors-headers==3.11.0
django-environ==0.8.1
djangorestframework==3.13.1
djangorestframework_simplejwt==5.1.0
django-phonenumber-field==6.1.0
phonenumbers==8.12.48

drf-nested-routers==0.93.4
drf_yasg